
	<body>
			<div class="noo-page-heading">
				<div class="container-boxed max text-center parallax-content">
					<div class="member-heading-avatar">
						<img alt='' src='images/avatar/user_100x100.jpg' height='100' width='100' />
					</div>
					<div class="page-heading-info">
						<h1 class="page-title">Post a Job</h1>
					</div>
					<div class="page-sub-heading-info">
						Describe your company and vacancy
					</div>
				</div><!-- /.container-boxed -->
				<div class="parallax heading" data-parallax="1" data-parallax_no_mobile="1" data-velocity="0.1"></div>
			</div>
			<div class="container-wrap">	
				<div class="main-content container-fullwidth">
					<div class="row">
						<div class="noo-main col-md-12">
							<div class="jform">
								<div class="jform-header">
									<div class="container-boxed max">
										<div class="jform-steps">
											<ul class="jsteps jsteps-4">
												<li class=" completed">
													<span class="jstep-num">
														<a href="javascript:void(0);"><i class="fa fa-check"></i></a>
													</span>
													<div class="jstep-line">
														<span class="jstep-dot"></span>
													</div>
													<div class="jstep-label">Login or create an account</div>
												</li>
												<li class="completed">
													<span class="jstep-num">
														<a href="#"><i class="fa fa-check"></i></a>
													</span>
													<div class="jstep-line">
														<span class="jstep-dot"></span>
													</div>
													<div class="jstep-label">Choose a package</div>
												</li>
												<li class="active">
													<span class="jstep-num">
														<a href="javascript:void(0);">3</a>
													</span>
													<div class="jstep-line">
														<span class="jstep-dot"></span>
													</div>
													<div class="jstep-label">Describe your company and vacancy</div>
												</li>
												<li>
													<span class="jstep-num">
														<a href="javascript:void(0);">4</a>
													</span>
													<div class="jstep-line">
														<span class="jstep-dot"></span>
													</div>
													<div class="jstep-label">Preview and submit your job</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="jform-body">
									<div class="container-boxed max">
										<form class="form-horizontal" enctype="multipart/form-data">
											<div id="step_content_form" class="jstep-content">
												<div class="jpanel jpanel-job-form">
													<div class="jpanel-title">
														<h3>Describe your company and vacancy</h3>
													</div>
													<div class="jpanel-body">
														<div class="form-title">
															<h3>Job Details</h3>
														</div>
														<div class="job-form">
															<div class="job-form-detail">
																<div class="form-group row">
																	<label for="position" class="col-sm-3 control-label">Job Title</label>
																	<div class="col-sm-9">
																    	<input type="text" value="" class="form-control" id="position"  name="position" autofocus required placeholder="Enter a short title for your job">
																    </div>
																</div>
																<div class="form-group row">
																    <label for="desc" class="col-sm-3 control-label">Job Description</label>
																    <div class="col-sm-9">
																    	<textarea class="form-control" id="desc"  name="desc" rows="8" placeholder="Describe your job in a few paragraphs"></textarea>
																    </div>
																</div>
																<div class="form-group row">
																	<label class="col-sm-3 control-label">Cover Image</label>
																	<div class="col-sm-9">
																		<input type="file" name="application_attachment" accept=".jpg,.png,.gif">
																	</div>
																</div>
																<div class="form-group row">
																	<label for="location" class="col-sm-3 control-label">Job Location</label>
																	<div class="col-sm-9">
																		<select id="location" name="location[]" multiple data-placeholder="Enter a city and country or leave it blank" class="form-control form-control-chosen">
																			<option value="">&nbsp;</option>
																			<option value="">Amsterdam</option>
																			<option value="">Atlanta</option>
																			<option value="">Berlin</option>
																			<option value="">Brisbane</option>
																			<option value="">California</option>
																			<option value="">Ha Noi</option>
																		</select>
		    														</div>
																</div>
																<div class="form-group row">
																	<label for="type" class="col-sm-3 control-label">Job Type</label>
																	<div class="col-sm-9">
																		<select class="form-control form-control-chosen" name="type" id="type" data-placeholder="Select job type for your job">
																			<option value="">&nbsp;</option>
																			<option value="">Contract</option>
																			<option value="">Freelance</option>
																			<option value="">Full Time</option>
																			<option value="">Part Time</option>
																		</select>
																	</div>
																</div>
																<div class="form-group row">
																	<label for="category" class="col-sm-3 control-label">Job Category</label>
																	<div class="col-sm-9">
																		<select class="form-control form-control-chosen" name="category[]" id="category" multiple data-placeholder="Select a category for your job ">
																			<option value="">&nbsp;</option>
																			<option value="">Customer Service</option>
																			<option value="">Designer</option>
																			<option value="">Developer</option>
																			<option value="">Finance</option>
																			<option value="">Human Resource</option>
																			<option value="">Information Technology</option>
																			<option value="">Marketing</option>
																			<option value="">Others</option>
																			<option value="">Sales</option>
																		</select>
																	</div>
																</div>
																<div class="form-group row">
																	<label for="closing" class="col-sm-3 control-label">Closing Date</label>
																	<div class="col-sm-9">
																    	<input type="text" value="" class="form-control jform-datepicker" id="closing"  name="closing" placeholder="YYYY-MM-DD">
																    </div>
																</div>
																<div class="form-group row">
																	<label for="application_email" class="col-sm-3 control-label">Application Notify Email</label>
																	<div class="col-sm-9">
																    	<input type="text" value="" class="form-control" id="application_email"  name="application_email" >
																    	<em>Email to receive application notification. Leave it blank to use your account email.</em>
																    </div>
																</div>
																<div class="form-group row">
																	<label for="salary" class="col-sm-3 control-label">Salary Offer</label>
																	<div class="col-sm-9">
																		<select id="salary" class="form-control form-control-chosen" name="salary" data-placeholder="Select Salary Offer" >
																			<option value=''>0 ~ $3000</option>
																			<option value=''>$3000 ~ $10.000</option>
																			<option value=''>$10.000 ~ $20.000</option>
																			<option value=''>$20.000 ~ $50.000</option>
																			<option value=''>$50.000 ~ $100.000</option>
																			<option value=''>$100.000 ~</option>
																		</select>
																	</div>
																</div>
																<div class="form-group row">
																	<label class="col-sm-3 control-label">Experience Level</label>
																	<div class="col-sm-9">
																		<div class='form-control-flat'>
																			<label class='radio'>
																				<input type='radio' name='experience_level' value='Junior' checked="checked">
																				<i></i>Junior
																			</label>
																		</div>
																		<div class='form-control-flat'>
																			<label class='radio'>
																				<input type='radio' name='experience_level' value='Senior'>
																				<i></i>Senior
																			</label>
																		</div>
																		<div class='form-control-flat'>
																			<label class='radio'>
																				<input type='radio' name='experience_level' value='Manager'>
																				<i></i>Manager
																			</label>
																		</div>
																	</div>
																</div>
																<div class="form-group row">
																	<label class="col-sm-3 control-label">Total Years Experience</label>
																	<div class="col-sm-9">
																		<div class='form-control-flat'>
																			<label class='radio'>
																				<input type='radio' name='year_experience' value='0-5' checked="checked">
																				<i></i>0-5
																			</label>
																		</div>
																		<div class='form-control-flat'>
																			<label class='radio'>
																				<input type='radio' name='year_experience' value='5-10'>
																				<i></i>5-10
																			</label>
																		</div>
																		<div class='form-control-flat'>
																			<label class='radio'>
																				<input type='radio' name='year_experience' value='10-20'>
																				<i></i>10-20
																			</label>
																		</div>
																		<div class='form-control-flat'>
																			<label class='radio'>
																				<input type='radio' name='year_experience' value='20+'>
																				<i></i>20+
																			</label>
																		</div>
																	</div>
																</div>
																<div class="form-group row">
																	<label class="col-sm-3 control-label">Academic Degree</label>
																	<div class="col-sm-9">
																		<div class='form-control-flat'>
																			<label class='radio'>
																				<input type='radio' name='academic_degree' value='associate' checked="checked">
																				<i></i>Associate Degree
																			</label>
																		</div>
																		<div class='form-control-flat'>
																			<label class='radio'>
																				<input type='radio' name='academic_degree' value='bachelor'>
																				<i></i>Bachelor's Degree
																			</label>
																		</div>
																		<div class='form-control-flat'>
																			<label class='radio'>
																				<input type='radio' name='academic_degree' value='master'>
																				<i></i>Master’s Degree
																			</label>
																		</div>
																		<div class='form-control-flat'>
																			<label class='radio'>
																				<input type='radio' name='academic_degree' value='doctoral'>
																				<i></i>Doctoral Degree
																			</label>
																		</div>
																	</div>
																</div>
																<div class="form-group row">
																	<label class="col-sm-3 control-label">Dress Code</label>
																	<div class="col-sm-9">
																		<div class='form-control-flat'>
																			<label class='radio'>
																				<input type='radio' name='dress_code' value='Indifferent' checked="checked">
																				<i></i>Indifferent
																			</label>
																		</div>
																		<div class='form-control-flat'>
																			<label class='radio'>
																				<input type='radio' name='dress_code' value='Casual'>
																				<i></i>Casual
																			</label>
																		</div>
																		<div class='form-control-flat'>
																			<label class='radio'>
																				<input type='radio' name='dress_code' value='Formal'>
																				<i></i>Formal
																			</label>
																		</div>
																	</div>
																</div>
																<div class="form-group row">
																	<label for="working_hours" class="col-sm-3 control-label">Working Hours</label>
																	<div class="col-sm-9">
																		<textarea class="form-control" id="working_hours" name="working_hours" placeholder="" rows="8" ></textarea>
														    		</div>
																</div>
															</div>
															<div class="job-form-company">
																<h4>Company Profile</h4>
																<div class="company-profile-form">
																	<div class="form-group row">
																		<label for="company_name" class="col-sm-3 control-label">Company Name</label>
																		<div class="col-sm-9">
																	    	<input type="text" class="form-control" id="company_name" value="" name="company_name" placeholder="Enter your company name">
																	    </div>
																	</div>
																	<div class="form-group row">
																		<label for="company_website" class="col-sm-3 control-label">Company Website</label>
																		<div class="col-sm-9">
																	    	<input type="text" class="form-control" id="company_website" value="" name="company_website" placeholder="Enter your company website">
																	    </div>
																	</div>
																	<div class="form-group row">
																	    <label for="company_desc" class="col-sm-3 control-label">Company Description</label>
																	    <div class="col-sm-9">
																	    	<textarea class="form-control" id="company_desc" name="company_desc" rows="8" placeholder="Enter your company description"></textarea>
																	    </div>
																	</div>
																	<div class="form-group row">
																		<label class="col-sm-3 control-label">Company Logo</label>
																		<div class="col-sm-9">
																			<input type="file" name="application_attachment" accept=".jpg,.png,.gif">
																		</div>
																	</div>
																	<div class="form-group row">
																		<label class="col-sm-3 control-label">Cover Image</label>
																		<div class="col-sm-9">
																			<input type="file" name="application_attachment" accept=".jpg,.png,.gif">
																		</div>
																	</div>
																	<div class="form-group row">
																		<label for="company_googleplus" class="col-sm-3 control-label">Google+</label>
																		<div class="col-sm-9">
																	    	<input type="text" class="form-control" id="company_googleplus" value="" name="company_googleplus" placeholder="http://">
																	    </div>
																	</div>
																	<div class="form-group row">
																		<label for="company_facebook" class="col-sm-3 control-label">Facebook</label>
																		<div class="col-sm-9">
																	    	<input type="text" class="form-control" id="company_facebook" value="" name="company_facebook" placeholder="http://">
																	    </div>
																	</div>
																	<div class="form-group row">
																		<label for="company_linkedin" class="col-sm-3 control-label">LinkedIn</label>
																		<div class="col-sm-9">
																	    	<input type="text" class="form-control" id="company_linkedin" value="" name="company_linkedin" placeholder="http://">
																	    </div>
																	</div>
																	<div class="form-group row">
																		<label for="company_twitter" class="col-sm-3 control-label">Twitter</label>
																		<div class="col-sm-9">
																	    	<input type="text" class="form-control" id="company_twitter" value=""  name="company_twitter" placeholder="http://">
																	    </div>
																	</div>
																	<div class="form-group  row">
																		<label for="company_instagram" class="col-sm-3 control-label">Instagram</label>
																		<div class="col-sm-9">
																	    	<input type="text" class="form-control" id="company_instagram" value="" name="company_instagram" placeholder="http://">
																	    </div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="form-actions form-group text-center clearfix">
													<a class="btn btn-primary" href="#">Back</a>
		 				 							<button type="button" class="btn btn-primary">Continue</button>
											 	</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div> <!-- /.main -->
					</div><!--/.row-->
				</div><!--/.container-full-->
			</div><!--/.container-wrap-->
			<div class="colophon wigetized">
				<div class="container-boxed max">
					<div class="row">
						<div class="col-sm-4">
							<div class="widget widget_text">
								<h4 class="widget-title">Jobmonster</h4>
								<div class="textwidget">
									Donec elementum tellus vel magna bibendum, et fringilla metus tristique. Vestibulum cursus venenatis lacus, vel eleifend lectus blandit a.
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="widget widget_text">
								<h4 class="widget-title">Contact Us</h4>
								<div class="textwidget">
									<p>
										JobMonster Inc.<br/>
										54/29 West 21st Street, New York, 10010, USA<br/>
										<a href="mailto:email@domain.com">email@domain.com</a><br/>
										http://jobmonster.com
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="widget mailchimp-widget">
								<h4 class="widget-title">NEWSLETTER</h4>
								<form class="mc-subscribe-form">
									<label for="email">
										Fusce magna tortor, posuere a condimentum ac, vehicula sit amet lorem.
									</label>
									<div class="mc-email-wrap">
										<input type="email" id="email" name="mc_email" class="form-control mc-email" value="" placeholder="Enter your email here..."/>
									</div>
								</form>
							</div>
						</div>
					</div>  
				</div>  
			</div>
			<footer class="colophon site-info">
				<div class="container-full">
					<div class="footer-more">
						<div class="container-boxed">
							<div class="row">
								<div class="col-md-12">
									<div class="noo-bottom-bar-content">
										© 2015 Jobmonster. Designed with
										<i> </i> by NooTheme
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>  
			</footer>
		</div> <!-- /#top.site -->
		<a href="#" class="go-to-top hidden-print"><i class="fa fa-angle-up"></i></a>
		
		<script type='text/javascript' src='js/jquery.js'></script>
		<script type='text/javascript' src='js/jquery-migrate.min.js'></script>
		<script type='text/javascript' src='js/modernizr-2.7.1.min.js'></script>
		<script type='text/javascript' src='js/jquery.cookie.js'></script>
		<script type='text/javascript' src='js/jquery.blockUI.min.js'></script>
		<script type='text/javascript' src='js/imagesloaded.pkgd.min.js'></script>
		<script type='text/javascript' src='js/isotope-2.0.0.min.js'></script>
		<script type='text/javascript' src='js/isotope-2.0.0.min.js'></script>
		<script type='text/javascript' src='js/jquery.touchSwipe.min.js'></script>
		<script type='text/javascript' src='js/bootstrap.min.js'></script>
		<script type='text/javascript' src='js/hoverIntent-r7.min.js'></script>
		<script type='text/javascript' src='js/superfish-1.7.4.min.js'></script>
		<script type='text/javascript' src='js/script.js'></script>
		<script type='text/javascript' src='js/chosen.jquery.min.js'></script>
		<script type='text/javascript' src='js/jquery.datetimepicker.js'></script>
		<script type='text/javascript' src='js/jquery.parallax-1.1.3.js'></script>
		<script type='text/javascript' src='js/jquery.carouFredSel-6.2.1-packed.js'></script>
		<script type='text/javascript' src='js/custom.js'></script>

		<script>
			jQuery(document).ready(function($) {
				$(".jform-datepicker").datetimepicker({format:"YYYY-M-dd"});
			});
		</script>
	</body>
</html>
